<nav class="codrops-demos">
    <!--update: class current-demo-->
    <!--<a class="current-demo" href="/loginChild">Login Schüler</a>-->
    <a href="/loginChild">Login Schüler</a>
    <a href="/loginParents">Login Familie</a>
    <a href="/newChild">Neuer Schüler</a>
    <a href="/newParents">Neue Familie</a>
    <a href="/newGroup">Neue Gruppe</a>
</nav>

<div class="support-note">
    <span class="note-ie">Sorry, nur moderne Seiten.</span>
</div>